@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
body {
    background-image: url("../img/coffeebeans.jpg");
    background-size: 100vw;
    background-attachment: fixed;
    font-family: 'Viga', sans-serif;
}
.logo-coffee{
    max-height: 70px;
    max-width: 70px;
    margin: 0;
}
.coffeeNames {
    color: #000000;
    font-size: 2em;
}
.roast {
    color: #000000;
    font-size: 1em;
}
.coffee-container{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    /*height: 450px;*/
}
.nav-bg {
    background-color: rgba(255, 255, 255, 0.7);
}
.slogan {
    color: #dddddd;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
    text-shadow:1px 5px 8px #000000, 1px 5px 8px #000000;
    margin: 0;
    padding: 0;
}
.build {
    color: #dddddd;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
    text-shadow:1px 5px 8px #000000, 1px 5px 8px #000000;
    padding: 0;

}
a{
    color: #d0d0d0;
    text-shadow:1px 1px 10px #000000, 1px 1px 10px #000000;
}
a:hover{
    text-decoration: none;
    color: #341e1a;
    text-shadow: none;
    -webkit-transition: 500ms linear 0s;
    -moz-transition: 500ms linear 0s;
    -o-transition: 500ms linear 0s;
    transition: 500ms linear 0s;
    outline: 0 none;
}
.steps {
    color: #dddddd;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
    text-shadow:1px 5px 8px #000000, 1px 5px 8px #000000;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 0;
}
.card-body {
    overflow-y: scroll;
    scroll-behavior: smooth;
    max-height: 300px;
}
.card {
    background-color: rgba(255, 255, 255, 0.7);
}

.select{
    font-family: 'Viga', sans-serif;
    font-size: 18px;
}