@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
body {
    background-image: url("../img/coffeebeans.jpg");
    background-size: 100vw;
    background-attachment: fixed;
    font-family: 'Viga', sans-serif;
}
.logo-coffee{
    max-height: 68px;
    max-width: 68px;
    margin: 0;
}
.coffeeNames {
    color: #000000;
    font-size: 2em;
}
.roast {
    color: #000000;
    font-size: 1em;
}
.topMargin {
    margin-top: 0em;
}
.coffee-container{
    /*border: 1px solid white;*/
    background-color: #ffffff;
    opacity: 65%;
}
.nav-bg {
    background-color: #ffffff;
    opacity: 70%;
}
.slogan {
    color: #ffffff;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
    text-shadow:1px 5px 8px #000000, 1px 5px 8px #000000;
    margin: 0;
    padding: 0;
}
.build {
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
    text-shadow:1px 5px 8px #000000, 1px 5px 8px #000000;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 0;
}
a{
    color: #ffffff;
    text-shadow:1px 1px 10px #000000, 1px 1px 10px #000000;
}
a:hover{
    text-decoration: none;
    color: #341e1a;
    text-shadow: none;
    -webkit-transition: 500ms linear 0s;
    -moz-transition: 500ms linear 0s;
    -o-transition: 500ms linear 0s;
    transition: 500ms linear 0s;
    outline: 0 none;
}